# MongoDB Connection 
MONGODB_URI=mongodb+srv://muneerraza098:ij0gPiZiptP88Hia@cluster0.qoqvtwz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=abundance_ai_suite

# Security
SECRET_KEY=your_secret_key_for_jwt
ACCESS_TOKEN_EXPIRE_MINUTES=60

# LLM API Keys
GROQ_API_KEY=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

# App Configuration
DEFAULT_USER_TOKENS=100
ADMIN_EMAIL=admin@abundanceai.com
ADMIN_PASSWORD=admin@123
